<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- robot as extracted via https://github.com/syuntoku14/fusion2urdf -->
    <xacro:macro name="iiwa14"
        params="robot_name:=^|lbr mode:=^|mock system_config_path:=^|'$(find lbr_description)/ros2_control/lbr_system_config.yaml'">

        <!-- includes -->
        <xacro:include filename="$(find lbr_description)/gazebo/lbr_gazebo.xacro" />
        <xacro:include filename="$(find lbr_description)/ros2_control/lbr_system_interface.xacro" />

        <!-- joint limits via yaml -->
        <xacro:property name="joint_limits_path"
            value="$(find lbr_description)/urdf/iiwa14/joint_limits.yaml" />
        <xacro:property name="joint_limits" value="${xacro.load_yaml(joint_limits_path)}" />

        <!-- constants -->
        <xacro:property name="PI" value="3.1415926535897931" />
        <xacro:property name="joint_damping" value="10.0" />
        <xacro:property name="joint_friction" value="0.1" />

        <!-- macros for gazebo / mock / hardware -->
        <xacro:lbr_gazebo robot_name="${robot_name}" />
        <xacro:lbr_system_interface
            robot_name="${robot_name}"
            mode="${mode}"
            joint_limits="${joint_limits}"
            system_config_path="${system_config_path}" />

        <link name="${robot_name}_link_0">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.012822 0.0 0.071507" />
                <mass value="7.050378" />
                <inertia ixx="0.031226" ixy="0.0" ixz="0.000871" iyy="0.039697" iyz="0.0"
                    izz="0.043102" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_0.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_0.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A1" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.1475" />
            <parent link="${robot_name}_link_0" />
            <child link="${robot_name}_link_1" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits['A1']['effort']}"
                lower="${joint_limits['A1']['lower'] * PI / 180}"
                upper="${joint_limits['A1']['upper'] * PI / 180}"
                velocity="${joint_limits['A1']['velocity'] * PI / 180}" />
            <dynamics damping="0.24150" friction="0.3191" />
        </joint>

        <link name="${robot_name}_link_1">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.00351 0.00160 -0.03139" />
                <mass value="3.94781" />
                <inertia ixx="0.00455" ixy="0.0" ixz="0.0" iyy="0.00454" iyz="0.00001"
                    izz="0.00029" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_1.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.1475" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_1.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A2" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 -0.01 0.2125" />
            <parent link="${robot_name}_link_1" />
            <child link="${robot_name}_link_2" />
            <axis xyz="0.0 1.0 0.0" />
            <limit
                effort="${joint_limits['A2']['effort']}"
                lower="${joint_limits['A2']['lower'] * PI / 180}"
                upper="${joint_limits['A2']['upper'] * PI / 180}"
                velocity="${joint_limits['A2']['velocity'] * PI / 180}" />
            <dynamics damping="0.37328" friction="0.18130" />
        </joint>

        <link name="${robot_name}_link_2">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.003550 0.003550 0.166690" />
                <mass value="4.50275" />
                <inertia ixx="0.00042" ixy="-0.00042" ixz="0.00000" iyy="0.00042" iyz="-0.00000" izz="0.00010"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.01 -0.36" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_2.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.01 -0.36" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_2.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A3" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.01 0.228" />
            <parent link="${robot_name}_link_2" />
            <child link="${robot_name}_link_3" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits['A3']['effort']}"
                lower="${joint_limits['A3']['lower'] * PI / 180}"
                upper="${joint_limits['A3']['upper'] * PI / 180}"
                velocity="${joint_limits['A3']['velocity'] * PI / 180}" />
            <dynamics damping="0.11025" friction="0.07302" />
        </joint>

        <link name="${robot_name}_link_3">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.00225 -0.03492 -0.02652" />
                <mass value="2.45520" />
                <inertia ixx="0.00223" ixy="-0.00005" ixz="0.00007" iyy="0.00219" iyz="0.00007"
                    izz="0.00073" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.588" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_3.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.588" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_3.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A4" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0105 0.192" />
            <parent link="${robot_name}_link_3" />
            <child link="${robot_name}_link_4" />
            <axis xyz="0.0 -1.0 0.0" />
            <limit
                effort="${joint_limits['A4']['effort']}"
                lower="${joint_limits['A4']['lower'] * PI / 180}"
                upper="${joint_limits['A4']['upper'] * PI / 180}"
                velocity="${joint_limits['A4']['velocity'] * PI / 180}" />
            <dynamics damping="0.10000" friction="0.1767" />
        </joint>

        <link name="${robot_name}_link_4">
            <inertial>
                <origin rpy="0 0 0" xyz="0.038180 0.038180 0.052680" />
                <mass value="2.61155" />
                <inertia ixx="0.04988" ixy="0.04988" ixz="0.00111" iyy="0.04988" iyz="0.00111" izz="0.01144" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.78" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_4.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 -0.0105 -0.78" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_4.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A5" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 -0.0105 0.2075" />
            <parent link="${robot_name}_link_4" />
            <child link="${robot_name}_link_5" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits['A5']['effort']}"
                lower="${joint_limits['A5']['lower'] * PI / 180}"
                upper="${joint_limits['A5']['upper'] * PI / 180}"
                velocity="${joint_limits['A5']['velocity'] * PI / 180}" />
            <dynamics damping="0.10000" friction="0.03463" />
        </joint>

        <link name="${robot_name}_link_5">
            <inertial>
                <origin rpy="0 0 0" xyz="0.00005 -0.00237 -0.2113" />
                <mass value="3.41000" />
                <inertia ixx="0.00277" ixy="-0.00001" ixz="0.00001" iyy="0.00284" iyz="0.00000"
                    izz="0.00012" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.9875" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_5.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -0.9875" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_5.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A6" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 -0.0707 0.1925" />
            <parent link="${robot_name}_link_5" />
            <child link="${robot_name}_link_6" />
            <axis xyz="0.0 1.0 0.0" />
            <limit
                effort="${joint_limits['A6']['effort']}"
                lower="${joint_limits['A6']['lower'] * PI / 180}"
                upper="${joint_limits['A6']['upper'] * PI / 180}"
                velocity="${joint_limits['A6']['velocity'] * PI / 180}" />
            <dynamics damping="0.12484" friction="0.15391" />
        </joint>

        <link name="${robot_name}_link_6">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.027500 0.027500 0.020190" />
                <mass value="3.38795" />
                <inertia ixx="0.00232" ixy="-0.00232" ixz="-0.00004" iyy="0.00232" iyz="0.00004" izz="0.00281"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0707 -1.18" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_6.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0707 -1.18" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_6.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_A7" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0707 0.091" />
            <parent link="${robot_name}_link_6" />
            <child link="${robot_name}_link_7" />
            <axis xyz="0.0 0.0 1.0" />
            <limit
                effort="${joint_limits['A7']['effort']}"
                lower="${joint_limits['A7']['lower'] * PI / 180}"
                upper="${joint_limits['A7']['upper'] * PI / 180}"
                velocity="${joint_limits['A7']['velocity'] * PI / 180}" />
            <dynamics damping="0.10000" friction="0.08710" />
        </joint>

        <link name="${robot_name}_link_7">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.03466 -0.02324 0.07138"/>
                <mass value="0.35432" />
                <inertia ixx="0.0080" ixy="0.00022" ixz="-0.00029" iyy="0.0109" iyz="-0.00029" 
                    izz="0.0029" />
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 0.0 -1.271" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/visual/link_7.dae" />
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 0.0 -1.271" />
                <geometry>
                    <mesh filename="package://lbr_description/meshes/iiwa14/collision/link_7.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${robot_name}_joint_ee" type="fixed">
            <parent link="${robot_name}_link_7" />
            <child link="${robot_name}_link_ee" />
            <origin xyz="0 0 0.035" rpy="0 0 0" />
        </joint>

        <link name="${robot_name}_link_ee">
            <!-- <inertial>
                <origin rpy="0 0 0" xyz="0.01724 0.00679 0.02427" />
                <mass value="0.412" />
                <inertia ixx="0.00000" ixy="0.00000" ixz="0.00000" iyy="0.00000" iyz="0.00000" izz="0.00000" />
            </inertial> -->
        </link>

        <!-- <joint name="${robot_name}_joint_tcp" type="fixed">
            <parent link="${robot_name}_link_ee" />
            <child link="${robot_name}_link_tcp" />
            <origin xyz="0 0 0.0475" rpy="0 0 0" />
        </joint>

        <link name="${robot_name}_link_tcp">
        </link> -->
    </xacro:macro>
</robot>